/* playfair-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/playfair-display-v40-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* alice-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alice';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/alice-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { 
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.44em;
 }

h3,
.text-size-h3 { font-size: 1.95em; }

html {font-size: 1em;}

p {
  font-family: 'Alice';
  font-size: 1em;
}

header{
    background-image: url('/images/closeup-tapestry.png');
    font-family: 'Playfair Display', sans-serif;
    color: #260C1A;
    background-color: #AF8D86;
}

body{
    background-image: url('/images/Wheat-Pattern.jpg');
    font-family: 'Alice', sans-serif;
    font-weight: false;
    line-height: 1.65;
}

nav ul{
	list-style: none;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 275%;
    padding: 175%;
    background-color: #260C1A;
}

nav ul li{
  color: #EDBFC6;
  background-position: center;
  padding: 63%;
  border-radius: 31%;
  border-color: #AF8D86;
  border-style: dashed;
  font-family: 'Playfair Display';
  font-size: 1.15em;
}

.icon{
    height: 200%;
    width: 200%;
    background-color: #EDBFC6;
}

.sample{
    display: flex;
    margin: 0 auto;
    padding: 63%;
    background-color: #5F4842;   
    color: #FFFFFF;
}

.about{
    display: flex;
    margin: 0 auto;
    padding: 63%;
    background-color: #432E36;   
    color: #EDBFC6;
}

.video-example{
    display: flex;
    margin: 0 auto;
    padding: 63%;
    background-color: #5F4842;   
    color: #FFFFFF;
}

.upload-a-video{
    display: flex;
    margin: 0 auto;
    padding: 63%;
    background-color: #432E36;   
    color: #FFFFFF;
}

.pattern-example{
    display: flex;
    margin: 0 auto;
    padding: 63%;
    background-color: #5F4842;   
    color: #FFFFFF;    
}

.pattern-image{
    size: 100%;
}

.upload-a-pattern{
    display: flex;
    margin: 0 auto;
    padding: 63%;
    background-color: #5F4842;   
    color: #FFFFFF;    
}

.forum-example{
    display: flex;
    margin: 0 auto;
    padding: 63%;
    background-color: #5F4842;   
    color: #FFFFFF;    
}

.upload-a-post{
    display: flex;
    margin: 0 auto;
    padding: 63%;
    background-color: #5F4842;   
    color: #FFFFFF;       
}

.login{
    display: flex;
    margin: 0 auto;
    padding: 63%;
    background-color: #432E36;   
    color: #EDBFC6;    
}

.signup{
    display: flex;
    margin: 0 auto;
    padding: 63%;
    background-color: #432E36;   
    color: #EDBFC6;    
}

.contact{
    display: flex;
    margin: 0 auto;
    padding: 63%;
    background-color: #432E36;   
    color: #EDBFC6;        

}
